kind: ConfigMap
apiVersion: v1
metadata:
  name: oauth2-proxy-configmap
  namespace: tooling
data:
  OAUTH2_PROXY_HTTP_ADDRESS: "0.0.0.0:4180"
  OAUTH2_PROXY_WHITELIST_DOMAINS: "*.kube-dev.incubateur.net"
  OAUTH2_PROXY_REDIRECT_URL: "https://oauth.kube-dev.incubateur.net/oauth2/callback"
  OAUTH2_PROXY_SCOPE: "read:org user:email"
  OAUTH2_PROXY_PROVIDER: github
  OAUTH2_PROXY_GITHUB_ORG: betagouv
  OAUTH2_PROXY_BANNER: kube-dev private access
  OAUTH2_PROXY_FOOTER: kube-dev auth
  OAUTH2_PROXY_EMAIL_DOMAINS: "*"
  OAUTH2_PROXY_COOKIE_SECURE: "true"
  OAUTH2_PROXY_COOKIE_DOMAINS: ".kube-dev.incubateur.net"
  OAUTH2_PROXY_CUSTOM_SIGN_IN_LOGO: "https://avatars.githubusercontent.com/u/7874148?s=200&v=4"
  OAUTH2_PROXY_REVERSE_PROXY: "true"
  OAUTH2_PROXY_SKIP_PROVIDER_BUTTON: "false"
  OAUTH2_PROXY_SET_XAUTHREQUEST: "true"
  OAUTH2_PROXY_SET_AUTHORIZATION_HEADER: "true"
